:root {
  --primary-color: #8A2BE2; /* Roxo principal */
  --secondary-color: #4B0082; /* Roxo mais escuro */
  --background-color: #100f14;
  --text-color: #FFFFFF;
  --text-secondary-color: #a9a9a9;
  --font-main: 'Poppins', sans-serif; /* Adicione a fonte Poppins no seu index.html */
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}